@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Coding Factory</h1>
    <p>Learn more about <a href="https://codingfactory.aueb.gr">Coding Factory</a>.</p>
</div>
